
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Righteous&family=Sarala:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    border: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Sarala', sans-serif;
    background-image: url(/img/pista.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
   
}

#game-container {
  width: 600px;
  height: 650px;
  background-image: url(imagens/pista.jpg);
  position: relative;
  overflow: hidden;
  margin: 0 auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.main-menu{
    height: 730px;
    width: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-image: url(/img/pista.jpg);
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  display: none;
  color: black;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 10px;
  text-align: center;
}
.jogar{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      
      transition: .7s ease;
      transform: translate(-50%, -50%);
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      background-color: rgb(58, 171, 58);
      border: transparent;
      &:before {
        width: 100%;
      }
    }
}

.btn1 {
  &:before {
    width: 0;
    height: 100%;

  }

  &:hover{
    &:before{
      width: 100%;
    }
  }
}

.clima-noite{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      background-color: #333;
      &:before {
        width: 100%;
      }
    }
}

.clima{
    display: flex;
    padding: 40px;
    justify-content: space-between;
}



.clima-dia{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      background-color: blue;
      border: transparent;
      &:before {
        width: 100%;
      }
    }
}

.clima-noite{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      border: transparent;
      background-color: #333;
      &:before {
        width: 100%;
      }
    }
}

.clima-neve{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      background-color: aqua;
      border: transparent;
      &:before {
        width: 100%;
      }
    }
}

.game-board{
    
}

.carro{
    position: absolute;
    bottom: 0;
    left: 0%;
    height: auto;
    animation: carro 2000ms;
    
    
}

.gasolina{
  position: absolute;
  left: 23%;
  bottom: 70%;
  animation: gasolina 4000ms infinite;
}

.pedra{
  position: absolute;
  left: 72%;
  bottom: 70%;
  animation: gasolina 9500ms infinite;
}

.carro-movimento-1to2{
    animation: carro-1to2 500ms;
}

.carro-movimento-2to3{
    animation: carro-2to3 500ms;
}

.carro-movimento-3to4{
    animation: carro-3to4 500ms;
}

.carro-movimento-4to3{
    animation: carro-4to3 500ms;
}

.carro-movimento-3to2{
    animation: carro-3to2 500ms;
}

.carro-movimento-2to1{
    animation: carro-2to1 500ms;
}

@keyframes gasolina{
    0%{
      bottom: 70%;
    }

    10%{
      bottom: 60%;
    }
    25%{
      bottom: 50%;
    }
    35%{
      bottom: 40%;
    }
    50%{
      bottom: 25%;
    }
    65%{
      bottom: 10%;
    }
    75%{
      bottom: 0%;
    }
    100%{
      bottom: -25%;
      
    }
}

@keyframes carro-1to2{
    0% {
        left: 0%;
    }

    25%{
        left: 10%;
    }

   50%{
        left: 25%;
   }
   100%{
        left: 25%;
   }
}

@keyframes carro-2to3{
    0%{
        left: 25%
    }

    100%{
        left: 50%;
    }
}

@keyframes carro-3to4{
    0%{
        left: 50%
    }

    100%{
        left: 75%;
    }
}

@keyframes carro-4to3{
    0%{
        left: 75%
    }

    100%{
        left: 50%;
    }
}

@keyframes carro-3to2{
    0%{
        left: 50%
    }

    100%{
        left: 25%;
    }
}

@keyframes carro-2to1{
    0%{
        left: 25%
    }

    100%{
        left: 0%;
    }
}




